<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><%= @contact.last_name %> <%= @contact.first_name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h2 class="text-center">Informations générales</h2>
      <p>Mail : <%= @contact.email %></p>
      <p>Téléphone : <%= @contact.phone %></p>
      <p>Adresse : <%= @contact.adress %></p>
      
    </div>
    <div class="col-6">
      <h2 class="text-center">Réseaux sociaux</h2>
      <p>Facebook : <%= @contact.facebook_profil %></p>
      <p>Twitter : <%= @contact.twitter_profil %></p>
      <p>Linkedin : <%= @contact.linkedin_profil %></p>
      <p>Instagram : <%= @contact.instagram_profil %></p>
      <p>Youtube : <%= @contact.youtube_profil %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
       <a href="/contacts/<%= @contact.id%>/update">Modifier le contact</a>
    </div>
    <div class="col-6">
    
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-center">Les projets de <%= @contact.first_name %> <%= @contact.last_name %></h2>
        <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Status</th>
                  <th scope="col">Projet</th>
                  <th scope="col">Créé le</th>
                  <th scope="col">Description</th>
                  <th scope="col">#</th>
                </tr>
              </thead>
              <tbody>
                  <% @opportunities.each do |opp| %>
                    <tr>
                      <th scope="row"><%= opp.id %></th>
                      <td><%= opp.status_id %></td>
                      <td><%= opp.project %></td>
                      <td><%= opp.created_at %></td>
                      <td><%= opp.content.truncate_words(4) %></td>
                      <td><a href="/opportunities/<%= opp.id %>">Voir l'opportunité</a></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
        <a href="/contacts/<%= @contact.id%>/add" class="btn btn-primary">ajouter un projet</a>
    </div>
  </div>
</div>