<h1><%= @contact.last_name %> <%= @contact.first_name %></h1>
<p>email : <%= @contact.email %></p>
<p>tel : <%= @contact.phone %></p>
<p>adresse : <%= @contact.adress %></p>

<h1>Mes opportunités</h1>
<% if @opportunities %>
  <% @opportunities.each do |opp| %>
    <p><a href="/opportunities/<%= opp.id %>"><%= opp.entreprise %> le <%= opp.created_at %></a></p>
  <% end %>
<% else %>
  <p>Aucune opportunité pour ce contact.</p>
<% end %>

<h1>Créer une opportunité</h1>

<%= form_tag("/opportunities/#{params[:id]}", method: "post") do %>
  <%= label_tag(:entreprise, "Entreprise :") %>
  <%= text_field_tag(:entreprise) %>
  <%= select_tag(:status_id, options_for_select([['Contacté', 1], ['En attente', 2]])) %>
  <%= label_tag(:content, "Description :") %>
  <%= text_field_tag(:content) %>
  <%= submit_tag("Créer une opportunité") %>
<% end %>

<%= form_tag("/contacts/#{params[:id]}", method: "delete") do %>
  <%= submit_tag("Supprimer") %>
<% end %>

<a href="/contacts">Retour aux contacts</a>

<h1>Modifier le contact</h1>
<%= form_tag("/contacts/#{params[:id]}", method: "patch") do %>
  <%= label_tag(:last_name, "Nom :") %>
  <%= text_field_tag(:last_name, @contact.last_name) %>
  <%= label_tag(:first_name, "Prénom :") %>
  <%= text_field_tag(:first_name, @contact.first_name) %>
  <%= label_tag(:phone, "Tel :") %>
  <%= text_field_tag(:phone, @contact.phone) %>
  <%= label_tag(:email, "Mail :") %>
  <%= text_field_tag(:email, @contact.email) %>
  <%= label_tag(:adress, "Adresse :") %>
  <%= text_field_tag(:adress, @contact.adress) %>
  <%= submit_tag("Modifier") %>
<% end %>