<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="text-center">Ajouter un to-do pour le projet : <%= @project.project %></h2>
        <%= form_tag("/todo/#{params[:id]}", method: "post") do %>
          <div class="form-group">
            <%= label_tag(:end_date, "Date :") %>
            <%= date_field_tag(:end_date, nil, class: 'form-control') %>
          </div>
          <div class="form-group">
            <%= label_tag(:status, "Status :") %>
            <%= select_tag(:status, options_for_select([["En attente", "PENDING"], ["Terminé", "FINISH"]]), class: 'form-control') %>
          </div>
          <div class="form-group">
            <%= label_tag(:content, "Description :") %>
            <%= text_area_tag(:content, nil, class: 'form-control') %>
          </div>
          <%= submit_tag("Créer le todo", class: 'btn btn-primary btn-block') %>
        <% end %>
    </div>
  </div>
</div>
