<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><%= @opportunity.project %></h1>
      <p>Crée le <%= @opportunity.created_at %> avec <a href="/contacts/<%= @opportunity.contact.id %>" ><%= @opportunity.contact.first_name %> <%= @opportunity.contact.last_name %></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3 class="text-center">Description du projet</h3>
      <p><%= @opportunity.content %></p>
    </div>
    <div class="col-6">
      <h3 class="text-center">To-do list</h3>
      <ul>
        <% @todos.each do |to| %>
          <li><%= to.content %> : 
          <% if to.status === "PENDING" %>
            en attente
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="/opportunities/<%= @opportunity.id %>/add">Ajouter un todo</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <a href="/opportunities/<%= @opportunity.id %>/update">Modifier le projet</a>
    </div>
  </div>
</div>